.formTeamImage {
  width: 25rem;
  border: 1px;
  border-radius: 1.5625rem;
  margin-left: auto;
}

.team-form div img {
  width: 25rem;
  height: 25rem;
  border-radius: 0;
  margin-bottom: 1.25rem;
  margin-left: auto;
  align-self: center;
}

.player-divs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 1.875rem;
  padding-top: 1.25rem;
  border-top: 2px solid #ddd;
}

.player div img {
  width: 11.25rem;
  height: 11.25rem;
  border-radius: 0;
  margin: 0;
  border: 2px solid #4a2f0e;
  border-radius: 0.625rem;
}

.player {
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.625rem;
  border: 1px solid #4a2f0e;
  border-radius: 0.625rem;
  background-color: white;
}

.player-image-wrap label {
  font-size: 0.75rem;
}

.player-input-box {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.player-input-wrap {
  margin: 0.3125rem 0;
  font-size: 1rem;
  align-self: flex-start;
  display: flex;
  flex-flow: column nowrap;
}

.player-label-input-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.team-form input {
  border: 1px solid;
  border-radius: 0.625rem;
  height: 1.25rem;
}

.player-input-box .player-input {
  height: 1.875rem;
  font-size: 0.75rem;
}

.team-form-section {
  margin-top: 1.875rem;
  padding: 1.25rem;
  border: 2px solid #4a2f0e;
  border-radius: 0.9375rem;
  background-color: rgba(249, 249, 249, 0.8);
}

.team-form-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}

.team-form-top-right {
  width: 65%;
}

.team-form-top-right div {
  display: flex;
  flex-flow: column nowrap;
}

.team-form-top-left {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.team-form-top-left div {
  display: flex;
  flex-flow: column nowrap;
}

input.form-team-input-name {
  margin: 0.625rem;
  padding: 0.625rem;
  width: 31.25rem;
  border: 1px solid #4a2f0e;
  border-radius: 0.625rem;
}

.form-team-input-description {
  margin: 0.625rem;
  padding: 0.625rem;
  width: 43.75rem;
  height: 18.75rem;
  border: 1px solid #4a2f0e;
  border-radius: 0.625rem;
}

.form-highlight-input {
  margin: 0.625rem;
  padding: 0.25rem;
  width: 25rem;
  border: 1px solid #4a2f0e;
  border-radius: 0.625rem;
}

.form-team-name-label {
  font-size: 1.125rem;
  margin-right: 0.625rem;
}

.player-label-input-wrap label {
  font-size: 1rem;
  align-self: center;
}

.player-label-input-wrap input {
  width: 40%;
}

.error-message {
  font-size: 0.625rem;
  color: red;
}

.player div.player-image-wrap {
  display: flex;
  flex-flow: column nowrap;
}

.team-submit-wrap {
  display: flex;
  justify-content: center;
}

.team-submit {
  border: 1px double#4a2f0e;
  padding: 0.5rem;
  margin: 0.25rem;
  width: 10%;
  border-radius: 1rem;
  transition: box-shadow 0.2s;
  transition: scale 0.2s;
}

.team-submit:hover {
  box-shadow: 0 0 0.3rem #4a2f0e;
  scale: 1.1;
}

