body {
  margin: 300px;
}
h1.title {
  text-align: center;
  text-decoration: underline;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
}

.search-bar {
  allign-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

.search-results .search-input {
  min-width: 100px;
  max-width: 100px;
  border: 15px solid green;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
  outline: none;
  font-size: 16px;
  display: block;
  justify-content: center;
}

.search-icon {
  font-size: 18px;
  margin-right: 10px;
  color: #555;
}

.team-section {
  text-align: center;
  margin-top: 50px;
}
img.team-section-image {
  height: 180px;
}
