body {
  margin: 90px;
}
h1.title {
  text-align: center;
  text-decoration: underline;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
}

.search-bar {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

.search-results .search-input {
  min-width: 100px;
  max-width: 100px;
  border: 15px solid green;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
  outline: none;
  font-size: 16px;
}

.search-icon {
  font-size: 18px;
  margin-right: 10px;
  color: #555;
}

.team-section {
  text-align: center;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
}

.team-section-box {
  display: flex;
  flex-flow: row, nowrap;
}
.team-section-side img {
  height: 184px;
}

.hidden {
  display: none;
}
