body {
  margin-right: 90px;
  margin-left: 90px;
  background-image: url(https://www.titanui.com/wp-content/uploads/2013/05/30/Light-Brown-Wooden-Floor-Texture.jpg);
}
body.slow-roll {
  animation: slow-roll 420s linear infinite;
}

p, h1, h2, h3, label {
  color: #36220a;
}

img {
  user-select: none;
  
}

#header {
  cursor: pointer;
}

h1.title {
  text-align: center;
  text-decoration: underline;
  word-spacing: 40px;
  letter-spacing: 10px;
  font-size: 100px;
}
h1.title:hover {
  animation: enlarge 0.2s forwards;
}
h1.title:not(:hover) {
  animation: ensmall 0.2s forwards;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.search-bar {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

.search-results .search-input {
  min-width: 100px;
  max-width: 100px;
  border: 15px solid green;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
  outline: none;
  font-size: 16px;
}

.search-result {
  user-select: none;
}

.search-icon {
  font-size: 18px;
  margin-right: 10px;
  color: #555;
}

.teamadd {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
}

.fun-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 30px;
  opacity: 0;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: help;
}
.fun-button.appear {
  animation: appear 3s forwards;
}

.spin {
  animation: spin 5s linear infinite;
}
.spin:hover {
  animation-duration: 2s;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

@keyframes slow-roll {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

@keyframes enlarge {
  from { transform: scale(1); }
  to   { transform: scale(1.05); }
}

@keyframes ensmall {
  from { transform: scale(1.05); }
  to   { transform: scale(1); }
}

@keyframes appear {
  from { opacity: 0;}
  to   { opacity: 1;}
}