body {
  margin-right: 90px;
  margin-left: 90px;
}

img {
  user-select: none;
}

#header {
  cursor: url("cursor_2.png") 2 2, pointer;
}

h1.title {
  text-align: center;
  text-decoration: underline;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
}

.search-bar {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

.search-results .search-input {
  min-width: 100px;
  max-width: 100px;
  border: 15px solid green;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
  outline: none;
  font-size: 16px;
}

.search-icon {
  font-size: 18px;
  margin-right: 10px;
  color: #555;
}

.team-section {
  text-align: center;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
}

.team-section-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
}
.team-section-side img {
  height: 184px;
}
img.team-section-image {
  border: 1px;

  border-radius: 80px;
}
.team-section-middle-top {
  border: 5px solid blue;
  border-radius: 25px;
  margin-right: 90px;
  background-color: rgba(210, 201, 248, 0.5);
}

.team-section-middle-bottom {
  border: 5px solid red;
  border-radius: 25px;
  margin-left: 90px;
  background-color: rgba(247, 164, 164, 0.5);
}

.teamadd {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.team-form-section {
  text-align: center;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 10px solid black;
  border-radius: 25px;
}

input.form-team-input-name {
  margin: 10px;
  padding: 10px;
  width: 500px;
  border: 1px solid #555;
  border-radius: 25px;
}

.form-team-input-description {
  margin: 10px;
  padding: 10px;
  width: 700px;
  height: 300px;
  border: 1px solid #555;
  border-radius: 25px;
}

.form-highlight-input {
  margin: 10px;
  padding: 10px;
  width: 700px;
  height: 150px;
  border: 1px solid #555;
  border-radius: 25px;
}

.form-team-name-label {
  font-size: 18px;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
}
