body {
  margin-right: 6%;
  margin-left: 6%;
  background-image: url(https://www.titanui.com/wp-content/uploads/2013/05/30/Light-Brown-Wooden-Floor-Texture.jpg);
  font-family: 'Fira Sans', sans-serif;
}
body.slow-roll {
  animation: slow-roll 420s linear infinite;
}

p, h1, h2, h3, label {
  color: #36220a;
}

input::placeholder, textarea::placeholder, button {
  font-family: 'Fira Sans', sans-serif;
}

img {
  user-select: none;
  
}

#header {
  cursor: pointer;
}

h1.title {
  font-family: 'STIX Two Text', serif;
  text-align: center;
  text-decoration: underline;
  word-spacing: 1.25rem;
  letter-spacing: 0.625rem;
  font-size: 6.25rem;
  scale: 1;
  transition: transform 0.2s;
  margin: 0px;
}
h1.title:hover {
  transform: scale(1.05)
}

.logo {
  display: block;
  margin: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 12.5rem;
}

.search-bar {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

.search-result {
  user-select: none;
}

.search-icon {
  font-size: 1.125rem;
  margin-right: 0.625rem;
  color: #555;
}

.team-add {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.875rem;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  background-color: #C8102E;
  color: white;
  border: none;
  border-radius: 1.5625rem;
  cursor: pointer;
  transition: box-shadow 0.2s;
  transition: scale 0.2s;
}
.team-add:hover {
  box-shadow: 0 0 0.5rem #860b1f;
  scale: 1.2;
}
.team-add.button-shrink {
  animation: shrink 1s forwards;
}

.hidden {
  display: none;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  font-size: 1rem;
  text-align: center;
}
.footer p span {
  text-decoration: underline;
}

.fun-button {
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
  padding: 0.125rem 0.5rem;
  font-size: 0.5rem;
  opacity: 0;
  background: none;
  border: none;
  border-radius: 0.3125rem;
  cursor: help;
}
.fun-button.appear {
  animation: appear 3s forwards;
}

.spin {
  animation: spin 5s linear infinite;
}

.spinYRight {
  animation: spinYRight 10s linear infinite;
}

.spinYLeft {
  animation: spinYLeft 10s linear infinite;
}


/* Animations */

@keyframes spin {
  from { transform: rotate(0deg);}
  to   { transform: rotate(360deg);}
}

@keyframes spinYRight {
  from { transform: rotateY(0deg);}
  to   { transform: rotateY(360deg);}
}

@keyframes spinYLeft {
  from { transform: rotateY(0deg);}
  to   { transform: rotateY(-360deg);}
}

@keyframes slow-roll {
  from { transform: rotate(0deg);}
  to   { transform: rotate(360deg);}
}

@keyframes enlarge {
  from { transform: scale(1);}
  to   { transform: scale(1.05);}
}

@keyframes appear {
  from { opacity: 0;}
  to   { opacity: 1;}
}

@keyframes shrink {
  from { transform: scale(1);}
  to   { transform: scale(0);}
}