body {
  margin-right: 90px;
  margin-left: 90px;
}

img {
  user-select: none;
}

#header {
  cursor: url("cursor_2.png") 2 2, pointer;
}

h1.title {
  text-align: center;
  text-decoration: underline;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
}

.search-bar {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

.search-results .search-input {
  min-width: 100px;
  max-width: 100px;
  border: 15px solid green;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
  outline: none;
  font-size: 16px;
}

.search-icon {
  font-size: 18px;
  margin-right: 10px;
  color: #555;
}

.team-section {
  text-align: center;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
}

.team-section-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
}
.team-section-side img {
  height: 184px;
}
img.team-section-image {
  border: 1px;

  border-radius: 0;
}
.team-section-middle-top {
  border: 5px solid blue;
  border-radius: 25px;
  margin-right: 90px;
  background-color: rgba(210, 201, 248, 0.5);
}

.team-section-middle-bottom {
  border: 5px solid red;
  border-radius: 25px;
  margin-left: 90px;
  background-color: rgba(247, 164, 164, 0.5);
}

.teamadd {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.team-form-section {
  text-align: center;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 10px solid black;
  border-radius: 25px;
}

input.form-team-input-name {
  margin: 10px;
  padding: 10px;
  width: 500px;
  border: 1px solid #555;
  border-radius: 25px;
}

.form-team-input-description {
  margin: 10px;
  padding: 10px;
  width: 700px;
  height: 300px;
  border: 1px solid #555;
  border-radius: 25px;
}

.form-highlight-input {
  margin: 10px;
  padding: 10px;
  width: 700px;
  height: 150px;
  border: 1px solid #555;
  border-radius: 25px;
}

.form-team-name-label {
  font-size: 18px;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
}
.FormTeamIMmage div img {
  width: 400px;
  border: 1px;
  border-radius: 25px;
  margin-left: auto;
}

.player-input {
  border: 1px solid;
  border-radius: 25px;
  width: 100%;
}

.player-input-box .player-input {
  height: 60px;
  font-size: 20px;
}

.team-form div img {
  width: 300px;
  border: 1px;
  border-radius: 25px;
}

.player div img {
  width: 150px;
  border: 1px;
  border-radius: 25px;
  display: flex;
}

.player {
  border: 1px solid black;
  border-radius: 40px;
  width: 80%;
  margin: auto;
  height: 199px;
  display: flex;
  flex-flow: row nowrap;
}
.player-input-box {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
.player-input-row {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-around;
}
.player-input-wrap {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 20px;
  width: 40%;
.search-result {
  user-select: none;
}

.team-page {
  margin-top: 30px;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 15px;
  background-color: #f9f9f9;
}

.team-page-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.team-page-top-left {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.team-page-top-left img {
  width: 350px;
  height: 350px;
  border-radius: 0;
  margin-bottom: 20px;
}
.team-page-link-title {
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.team-page-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-page-highlight {
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.team-page-top-right {
  width: 65%;
}

.team-page-description {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}

.team-page-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 2px solid #ddd;
}

.team-page-bottom-player {
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
}

.team-page-bottom-player img {
  width: 80%;
  height: 80%;
  border-radius: 0;
  margin-bottom: 10px;
  border: 2px solid #333;
}

.team-page-bottom-player p {
  margin: 5px 0;
  font-size: 14px;
}

.team-page-bottom-player p:first-of-type {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}
