.team-page {
  margin-top: 1.875rem;
  padding: 1.25rem;
  border: 2px solid #4a2f0e;
  border-radius: 0.9375rem;
  background-color: rgba(249, 249, 249, 0.8);
}

.team-page-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}

.team-page-top-left {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.team-page-top-left img {
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin-bottom: 1.25rem;
  align-self: center;
}
.team-page-link-title {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
  text-decoration: underline;
}

.team-page-links {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.team-page-highlight {
  padding: 10px 0.9375rem;
  background-color: #4a2f0e;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 0 0px #4a2f0e;
  transition: box-shadow 0.2s;
  transition: scale 0.2s;
}
.team-page-highlight:hover {
  box-shadow: 0 0 0.5rem #4a2f0e;
  scale: 1.1;
}

.team-page-top-right {
  width: 65%;
}

.team-page-description {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
  margin-right: 1.25rem;
}

.team-page-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 1.875rem;
  padding-top: 1.25rem;
  border-top: 2px solid #ddd;
}

.team-page-bottom-player {
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.625rem;
  border: 1px solid #4a2f0e;
  border-radius: 0.625rem;
  background-color: white;
  scale: 1;
  transition: transform 0.2s
}
.team-page-bottom-player:hover {
  transform: scale(1.045)
}

.team-page-bottom-player img {
  width: 80%;
  height: 80%;
  border-radius: 0;
  margin-bottom: 0.625rem;
  border: 2px solid #4a2f0e;
  border-radius: 0.625rem;
}

.team-page-bottom-player p {
  margin: 0.3125rem 0;
  font-size: 1rem;
  align-self: flex-start;
}

p.team-page-bottom-player-name {
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 0.625rem;
}

.team-page-bottom-player-stat-style {
  font-weight: bold;
}