.team-section {
  text-align: center;
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.team-section h2 {
  scale: 1;
  transition: transform 0.2s;
}
.team-section-middle-top:hover h2, .team-section-middle-bottom:hover h2 {
  transform: scale(1.4)
}

.team-section-side {
  width: 25%;
}
.team-section-middle {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.team-section-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  height: 11.5rem;
  scale: 1;
  transition: transform 0.2s;
}
.team-section-box:hover {
  transform: scale(1.05)
}

.team-section-side img {
  height: 11.5rem;
}
img.team-section-image {
  border: 1px;
  border-radius: 0;
}

.team-section-middle-top {
  border: 3px solid #1D428A;
  border-left: 0px;
  border-bottom-right-radius: 0.625rem;
  border-top-right-radius: 3.125rem;
  margin-right: 20%;
  background-color: rgba(210, 201, 248, 0.5);
  background: #917eff;
  background-image: linear-gradient(45deg, #5c57fc, transparent 90%),
    radial-gradient(#5811ff 68%, transparent 5%);
  background-size: 4.2em 4.2em;
  overflow: hidden;
}

.team-section-middle-bottom {
  border: 3px solid #C8102E;
  border-right: 0px;
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 3.125rem;
  margin-left: 20%;
  background-color: rgba(247, 164, 164, 0.5);
  background: #ff7e86;
  background-image: linear-gradient(45deg, #fc5762, transparent 90%),
    radial-gradient(#ff1122 68%, transparent 5%);
  background-size: 4.2em 4.2em;
  overflow: hidden;
}

.team-section-side.team-logo {
  border: 3px solid #1D428A;
  border-radius: 0.9375rem;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 6.25rem;
  background-image: conic-gradient(from 0deg, #1D428A, rgb(14, 40, 92), #1D428A);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #1D428A;
  overflow: hidden;
}
.team-section-side.top-player {
  border: 3px solid #C8102E;
  border-radius: 0.9375rem;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 6.25rem;
  background-image: conic-gradient(from 0deg, #C8102E, rgb(111, 1, 1), #C8102E);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #C8102E;
  overflow: hidden;
}

/* media screen */

@media screen and (max-width: 425px) {

  .team-section {
    flex-flow: column nowrap;
    width: 80%;
  }

  .team-section h2 {
    font-size: 1rem;
  }

  .team-section-side {
    width: 60%;
  }

  .team-section-middle {
    width: 80%;
    justify-content: center;
  }

  .team-section-box {
    flex-flow: column-reverse nowrap;
    align-items: center;
  }

  .team-section-side img {
    height: 8rem;
  }
  img.team-section-image {
    border: 1px;
    border-radius: 0;
  }

  .team-section-middle-top {
    border: 3px solid #1D428A;
    border-radius: 2rem;
    margin-right: 0;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
  }

  .team-section-middle-bottom {
    display: none;
  }

  .team-section-side.team-logo {
    border: 3px solid #1D428A;
    border-radius: 0;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }
  .team-section-side.top-player {
    display: none;
  }
}